sample-gh-keigan-nodered/node-red-flow.json
[{"id":"46eacdaa.13e694","type":"km-motor-usb-selector","z":"ff7d02d3.1a9c2","name":"","selectMotorName":"","selectMotorNameself":false,"isInitializScan":false,"isMotorKeepalive":true,"x":140,"y":380,"wires":[["a7c6a1c9.e7dfb"]]},{"id":"a7c6a1c9.e7dfb","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":true,"x":360,"y":380,"wires":[["f41e2296.9c19e"]]},{"id":"11482763.91e969","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdMoveToPositionDeg\",\"arg\":\"msg.payload\"}","isErrStop":true,"x":920,"y":380,"wires":[[]]},{"id":"f41e2296.9c19e","type":"change","z":"ff7d02d3.1a9c2","name":"パラメータ設定","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"payload[0]","pt":"msg","to":"keiganDegree","tot":"msg"},{"t":"set","p":"payload[1]","pt":"msg","to":"keiganSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["11482763.91e969"]]},{"id":"800c585c.3cf628","type":"http in","z":"ff7d02d3.1a9c2","name":"","url":"/cmd/MoveTo/PositionDeg","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["b5040a1c.d734d8","4bdd485f.57fdd8"]]},{"id":"4bdd485f.57fdd8","type":"http response","z":"ff7d02d3.1a9c2","name":"","statusCode":"","headers":{},"x":350,"y":300,"wires":[]},{"id":"25debabf.9b21c6","type":"change","z":"ff7d02d3.1a9c2","name":"","rules":[{"t":"set","p":"keiganDegree","pt":"msg","to":"payload.degree","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["46eacdaa.13e694"]]},{"id":"c2757912.2bf7f8","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"degree\":180}","payloadType":"json","x":250,"y":540,"wires":[["220c23fe.dda28c"]]},{"id":"220c23fe.dda28c","type":"http request","z":"ff7d02d3.1a9c2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:1880/cmd/MoveTo/PositionDeg","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["4c06033f.18364c"]]},{"id":"4c06033f.18364c","type":"debug","z":"ff7d02d3.1a9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":660,"wires":[]},{"id":"a4194261.7e36d","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"degree\":90 }","payloadType":"json","x":250,"y":600,"wires":[["220c23fe.dda28c"]]},{"id":"b5040a1c.d734d8","type":"change","z":"ff7d02d3.1a9c2","name":"基本回転速度 keiganSpeed (rpm)","rules":[{"t":"set","p":"keiganSpeed","pt":"msg","to":"250","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["25debabf.9b21c6"]]},{"id":"1a2655f9.0b5eaa","type":"ui_button","z":"ff7d02d3.1a9c2","name":"","group":"511495ad.e042d4","order":5,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"{\"degree\":180}","payloadType":"json","topic":"","x":270,"y":700,"wires":[["220c23fe.dda28c"]]},{"id":"de4bdfe3.868a8","type":"ui_button","z":"ff7d02d3.1a9c2","name":"","group":"511495ad.e042d4","order":4,"width":"0","height":"0","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"{\"degree\":90}","payloadType":"json","topic":"","x":270,"y":740,"wires":[["220c23fe.dda28c"]]},{"id":"76fbd0a5.77f9e","type":"ui_button","z":"ff7d02d3.1a9c2","name":"","group":"511495ad.e042d4","order":6,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"{\"degree\":0}","payloadType":"json","topic":"","x":270,"y":780,"wires":[["220c23fe.dda28c"]]},{"id":"215da1ed.0aa6fe","type":"ui_button","z":"ff7d02d3.1a9c2","name":"","group":"511495ad.e042d4","order":7,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"{\"degree\":270}","payloadType":"json","topic":"","x":270,"y":660,"wires":[["220c23fe.dda28c"]]},{"id":"23b39df6.c83182","type":"comment","z":"ff7d02d3.1a9c2","name":"テスト用","info":"","x":220,"y":500,"wires":[]},{"id":"511495ad.e042d4","type":"ui_group","name":"デフォルト","tab":"cb6cac52.f1d2e","disp":false,"width":"6","collapse":false},{"id":"cb6cac52.f1d2e","type":"ui_tab","name":"ホーム","icon":"dashboard"}]