sample1/node-red-flow.json
[{"id":"34a1212d.88421e","type":"http in","z":"69563815.d6c028","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["e90ad6cd.8d2238","10ea814.621f77f"]]},{"id":"65d2707.499e09","type":"http response","z":"69563815.d6c028","name":"","statusCode":"","headers":{},"x":570,"y":100,"wires":[]},{"id":"e90ad6cd.8d2238","type":"change","z":"69563815.d6c028","name":"応答 {\"result\":\"OK\"}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"result\":\"OK\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":100,"wires":[["65d2707.499e09"]]},{"id":"10ea814.621f77f","type":"debug","z":"69563815.d6c028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":140,"wires":[]}]