sample-gh-2keigan-control/node-red-flow.json
[{"id":"46eacdaa.13e694","type":"km-motor-usb-selector","z":"ff7d02d3.1a9c2","name":"1台目の Keigan 検知","selectMotorName":"","selectMotorNameself":false,"isInitializScan":true,"isMotorKeepalive":true,"x":560,"y":300,"wires":[["a7c6a1c9.e7dfb"]]},{"id":"a7c6a1c9.e7dfb","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":true,"x":780,"y":300,"wires":[["f41e2296.9c19e"]]},{"id":"11482763.91e969","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"絶対位置を msg.payload から設定","cmdJson":"{\"cmd\":\"cmdMoveToPositionDeg\",\"arg\":\"msg.payload\"}","isErrStop":true,"x":1220,"y":300,"wires":[[]]},{"id":"f41e2296.9c19e","type":"change","z":"ff7d02d3.1a9c2","name":"パラメータ設定","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"payload[0]","pt":"msg","to":"keiganDegree","tot":"msg"},{"t":"set","p":"payload[1]","pt":"msg","to":"keiganSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["11482763.91e969"]]},{"id":"800c585c.3cf628","type":"http in","z":"ff7d02d3.1a9c2","name":"","url":"/cmd/2Keigan/MoveTo/PositionDeg","method":"post","upload":false,"swaggerDoc":"","x":200,"y":60,"wires":[["b5040a1c.d734d8","4bdd485f.57fdd8","4a6d8f.86e6827"]]},{"id":"4bdd485f.57fdd8","type":"http response","z":"ff7d02d3.1a9c2","name":"","statusCode":"","headers":{},"x":490,"y":60,"wires":[]},{"id":"25debabf.9b21c6","type":"change","z":"ff7d02d3.1a9c2","name":"","rules":[{"t":"set","p":"keiganDegree","pt":"msg","to":"payload.degree1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[["46eacdaa.13e694"]]},{"id":"c2757912.2bf7f8","type":"inject","z":"ff7d02d3.1a9c2","name":"{\"degree1\":180, \"degree2\":30}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"degree1\":180,\"degree2\":30}","payloadType":"json","x":280,"y":480,"wires":[["220c23fe.dda28c"]]},{"id":"220c23fe.dda28c","type":"http request","z":"ff7d02d3.1a9c2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:1880/cmd/2Keigan/MoveTo/PositionDeg","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":600,"wires":[["4c06033f.18364c"]]},{"id":"4c06033f.18364c","type":"debug","z":"ff7d02d3.1a9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":600,"wires":[]},{"id":"a4194261.7e36d","type":"inject","z":"ff7d02d3.1a9c2","name":"{\"degree1\":90, \"degree2\":60}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"degree1\":90, \"degree2\":60}","payloadType":"json","x":280,"y":520,"wires":[["220c23fe.dda28c"]]},{"id":"b5040a1c.d734d8","type":"change","z":"ff7d02d3.1a9c2","name":"基本回転速度 keiganSpeed (rpm)","rules":[{"t":"set","p":"keiganSpeed","pt":"msg","to":"250","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":180,"wires":[["25debabf.9b21c6","4db9c095.a31be"]]},{"id":"1a2655f9.0b5eaa","type":"ui_button","z":"ff7d02d3.1a9c2","name":"←","group":"511495ad.e042d4","order":5,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"{\"degree1\":180,\"degree2\":30}","payloadType":"json","topic":"","x":350,"y":640,"wires":[["220c23fe.dda28c"]]},{"id":"de4bdfe3.868a8","type":"ui_button","z":"ff7d02d3.1a9c2","name":"↑","group":"511495ad.e042d4","order":4,"width":"0","height":"0","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"{\"degree1\":90,\"degree2\":30}","payloadType":"json","topic":"","x":350,"y":680,"wires":[["220c23fe.dda28c"]]},{"id":"76fbd0a5.77f9e","type":"ui_button","z":"ff7d02d3.1a9c2","name":"→","group":"511495ad.e042d4","order":6,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"{\"degree1\":0,\"degree2\":30}","payloadType":"json","topic":"","x":350,"y":720,"wires":[["220c23fe.dda28c"]]},{"id":"215da1ed.0aa6fe","type":"ui_button","z":"ff7d02d3.1a9c2","name":"↓","group":"511495ad.e042d4","order":7,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"{\"degree1\":270,\"degree2\":30}","payloadType":"json","topic":"","x":350,"y":600,"wires":[["220c23fe.dda28c"]]},{"id":"23b39df6.c83182","type":"comment","z":"ff7d02d3.1a9c2","name":"テスト用","info":"","x":220,"y":440,"wires":[]},{"id":"4a6d8f.86e6827","type":"debug","z":"ff7d02d3.1a9c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]},{"id":"f692326f.5d326","type":"http in","z":"ff7d02d3.1a9c2","name":"","url":"/cmd/RunRotation","method":"post","upload":false,"swaggerDoc":"","x":180,"y":880,"wires":[["a7f90740.9b1b18","25e1ecba.f5db44","490af841.380978"]]},{"id":"a7f90740.9b1b18","type":"debug","z":"ff7d02d3.1a9c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":840,"wires":[]},{"id":"bc7fb9da.6cc918","type":"km-motor-usb-selector","z":"ff7d02d3.1a9c2","name":"","selectMotorName":"","selectMotorNameself":false,"isInitializScan":true,"isMotorKeepalive":true,"x":700,"y":980,"wires":[["c493b7be.6575d8"]]},{"id":"c493b7be.6575d8","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":true,"x":920,"y":980,"wires":[["49051015.8c03c"]]},{"id":"25e1ecba.f5db44","type":"http response","z":"ff7d02d3.1a9c2","name":"","statusCode":"","headers":{},"x":430,"y":880,"wires":[]},{"id":"5dd14141.1f655","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdRun_rpm\",\"arg\":\"msg.payload\"}","isErrStop":true,"x":1450,"y":980,"wires":[[]]},{"id":"49051015.8c03c","type":"change","z":"ff7d02d3.1a9c2","name":"パラメータ設定","rules":[{"t":"set","p":"payload","pt":"msg","to":"rpm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":980,"wires":[["5dd14141.1f655"]]},{"id":"4e5dd270.54dc9c","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rpm\":180}","payloadType":"json","x":250,"y":1080,"wires":[["5482896e.a65d48"]]},{"id":"ac2245fa.3e9338","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"rpm\":90 }","payloadType":"json","x":250,"y":1140,"wires":[["5482896e.a65d48"]]},{"id":"5482896e.a65d48","type":"http request","z":"ff7d02d3.1a9c2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:1880/cmd/RunRotation","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1200,"wires":[["bfc3a08f.065d1"]]},{"id":"bfc3a08f.065d1","type":"debug","z":"ff7d02d3.1a9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1200,"wires":[]},{"id":"81ab0cd6.52f66","type":"comment","z":"ff7d02d3.1a9c2","name":"テスト用","info":"","x":220,"y":1020,"wires":[]},{"id":"d2803b48.d09078","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"rpm\":0 }","payloadType":"json","x":240,"y":1200,"wires":[["5482896e.a65d48"]]},{"id":"490af841.380978","type":"change","z":"ff7d02d3.1a9c2","name":"","rules":[{"t":"set","p":"rpm","pt":"msg","to":"payload.rpm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":980,"wires":[["bc7fb9da.6cc918"]]},{"id":"ce0314f8.592ef8","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rpm\":250}","payloadType":"json","x":250,"y":1260,"wires":[["5482896e.a65d48"]]},{"id":"360b304f.2a27e","type":"exec","z":"ff7d02d3.1a9c2","command":"sudo systemctl restart nodered.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":1420,"wires":[[],[],[]]},{"id":"74f5da1f.b6c974","type":"inject","z":"ff7d02d3.1a9c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":1420,"wires":[["360b304f.2a27e"]]},{"id":"ac924a6b.25ec18","type":"comment","z":"ff7d02d3.1a9c2","name":"1台目を上下左右操作し、2台目は30度で固定","info":"","x":230,"y":560,"wires":[]},{"id":"3a6d4380.2c6d8c","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"絶対位置を msg.payload から設定","cmdJson":"{\"cmd\":\"cmdMoveToPositionDeg\",\"arg\":\"msg.payload\"}","isErrStop":true,"x":1220,"y":360,"wires":[[]]},{"id":"ff8aa1da.a8048","type":"change","z":"ff7d02d3.1a9c2","name":"パラメータ設定","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"payload[0]","pt":"msg","to":"keiganDegree","tot":"msg"},{"t":"set","p":"payload[1]","pt":"msg","to":"keiganSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":360,"wires":[["3a6d4380.2c6d8c"]]},{"id":"ace6a4d2.5562c8","type":"km-motor-sequencer","z":"ff7d02d3.1a9c2","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":true,"x":780,"y":360,"wires":[["ff8aa1da.a8048"]]},{"id":"7c2c561b.788ee8","type":"km-motor-usb-selector","z":"ff7d02d3.1a9c2","name":"2台目の Keigan 検知","selectMotorName":"","selectMotorNameself":false,"isInitializScan":true,"isMotorKeepalive":true,"x":560,"y":360,"wires":[["ace6a4d2.5562c8"]]},{"id":"4db9c095.a31be","type":"change","z":"ff7d02d3.1a9c2","name":"","rules":[{"t":"set","p":"keiganDegree","pt":"msg","to":"payload.degree2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["7c2c561b.788ee8"]]},{"id":"511495ad.e042d4","type":"ui_group","name":"グループ1","tab":"cb6cac52.f1d2e","order":1,"disp":false,"width":"6","collapse":false},{"id":"cb6cac52.f1d2e","type":"ui_tab","name":"ホーム","icon":"dashboard"}]