sample-gh-2keigan-nodered-on-windows/node-red-flow.json
[
  {
      "id": "642c70cdc15c2c41",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "パラメータ設定",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "[]",
              "tot": "json"
          },
          {
              "t": "set",
              "p": "payload[0]",
              "pt": "msg",
              "to": "keiganDegree",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload[1]",
              "pt": "msg",
              "to": "keiganSpeed",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 660,
      "y": 280,
      "wires": [
          [
              "1dda52ac207ba363"
          ]
      ]
  },
  {
      "id": "b36ded2cf1d3c0d3",
      "type": "http in",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "url": "/keigan1/cmd/MoveTo/PositionDeg",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 200,
      "y": 100,
      "wires": [
          [
              "99b205302f80c4a3",
              "c0386ee9b9ed32b0"
          ]
      ]
  },
  {
      "id": "94eff1e6e0260c54",
      "type": "http response",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 910,
      "y": 360,
      "wires": []
  },
  {
      "id": "1b136ab81a2ac3c5",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "rules": [
          {
              "t": "set",
              "p": "keiganDegree",
              "pt": "msg",
              "to": "payload.degree",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 810,
      "y": 100,
      "wires": [
          [
              "933c14172d74413f"
          ]
      ]
  },
  {
      "id": "25a7c1e581ffb285",
      "type": "inject",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"degree\":180}",
      "payloadType": "json",
      "x": 1150,
      "y": 80,
      "wires": [
          [
              "13fab6d939abc27d"
          ]
      ]
  },
  {
      "id": "13fab6d939abc27d",
      "type": "http request",
      "z": "93e0b7dcd63b93f0",
      "name": "keigan1 URL",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://127.0.0.1:1880/keigan1/cmd/MoveTo/PositionDeg",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "senderr": false,
      "x": 1370,
      "y": 100,
      "wires": [
          [
              "db8abe468d4178d2"
          ]
      ]
  },
  {
      "id": "db8abe468d4178d2",
      "type": "debug",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 1600,
      "y": 100,
      "wires": []
  },
  {
      "id": "2b2927c1d633832e",
      "type": "inject",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{     \"degree\":90 }",
      "payloadType": "json",
      "x": 1150,
      "y": 140,
      "wires": [
          [
              "13fab6d939abc27d"
          ]
      ]
  },
  {
      "id": "99b205302f80c4a3",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "基本回転速度 keiganSpeed (rpm)",
      "rules": [
          {
              "t": "set",
              "p": "keiganSpeed",
              "pt": "msg",
              "to": "250",
              "tot": "num"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 540,
      "y": 100,
      "wires": [
          [
              "1b136ab81a2ac3c5"
          ]
      ]
  },
  {
      "id": "f7100aab431f9f4b",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "テスト用 1 台目",
      "info": "",
      "x": 1140,
      "y": 40,
      "wires": []
  },
  {
      "id": "70afb38bd4605575",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "モーター動作を許可",
      "func": "const commandNum = 0x51;\n\nlet buffer = new ArrayBuffer(5);\n\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// 巡回冗長検査\nnew DataView(buffer).setUint16(3,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 320,
      "y": 280,
      "wires": [
          [
              "69f5eb380612059b"
          ]
      ]
  },
  {
      "id": "d9520e63c27b8941",
      "type": "serial out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "serial": "79b7585d97706561",
      "x": 1170,
      "y": 420,
      "wires": []
  },
  {
      "id": "92d5d84249681af0",
      "type": "link in",
      "z": "93e0b7dcd63b93f0",
      "name": "Keigan Serial 1",
      "links": [
          "5ad6ce8b8ab5bacf",
          "69f5eb380612059b",
          "caf1995eaa4982c7"
      ],
      "x": 1075,
      "y": 420,
      "wires": [
          [
              "d9520e63c27b8941"
          ]
      ]
  },
  {
      "id": "69f5eb380612059b",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "92d5d84249681af0"
      ],
      "x": 455,
      "y": 280,
      "wires": []
  },
  {
      "id": "1dda52ac207ba363",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "rpm で speed 指定",
      "func": "const commandNum = 0x58;\n\nconst moveToDegree = msg.payload[0];\nconst rpm = msg.payload[1];\n\n// バッファ用意\nlet buffer = new ArrayBuffer(9);\n\n// speed コマンド\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// radian / speed を rpm で指定\nconst rpm_convert_const_value = 0.10471975511965977;\nconst degree_speed = rpm * rpm_convert_const_value;\nnew DataView(buffer).setFloat32(3,degree_speed);\n\n// 巡回冗長検査\nnew DataView(buffer).setUint16(7,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 850,
      "y": 280,
      "wires": [
          [
              "5ad6ce8b8ab5bacf"
          ]
      ]
  },
  {
      "id": "933c14172d74413f",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step1",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 150,
      "y": 220,
      "wires": [
          [
              "70afb38bd4605575",
              "2531d05114ca0e6e"
          ]
      ]
  },
  {
      "id": "5e59b49f658ccc23",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step2",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 530,
      "y": 220,
      "wires": [
          [
              "642c70cdc15c2c41",
              "0ad645f57bd4bd38"
          ]
      ]
  },
  {
      "id": "5ad6ce8b8ab5bacf",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "92d5d84249681af0"
      ],
      "x": 975,
      "y": 280,
      "wires": []
  },
  {
      "id": "2531d05114ca0e6e",
      "type": "delay",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "pauseType": "delay",
      "timeout": "100",
      "timeoutUnits": "milliseconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "allowrate": false,
      "outputs": 1,
      "x": 350,
      "y": 220,
      "wires": [
          [
              "5e59b49f658ccc23"
          ]
      ]
  },
  {
      "id": "4b6c07f02165dc6e",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step3",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 530,
      "y": 360,
      "wires": [
          [
              "8bf4fab7639303f6",
              "2eadcfbddba4ff63"
          ]
      ]
  },
  {
      "id": "0ad645f57bd4bd38",
      "type": "delay",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "pauseType": "delay",
      "timeout": "100",
      "timeoutUnits": "milliseconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "allowrate": false,
      "outputs": 1,
      "x": 730,
      "y": 220,
      "wires": [
          [
              "4b6c07f02165dc6e"
          ]
      ]
  },
  {
      "id": "8bf4fab7639303f6",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "パラメータ設定",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "[]",
              "tot": "json"
          },
          {
              "t": "set",
              "p": "payload[0]",
              "pt": "msg",
              "to": "keiganDegree",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload[1]",
              "pt": "msg",
              "to": "keiganSpeed",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 660,
      "y": 420,
      "wires": [
          [
              "d90a16c1a0049535"
          ]
      ]
  },
  {
      "id": "d90a16c1a0049535",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "角度指定",
      "func": "const commandNum = 0x66;\n\nconst moveToDegree = msg.payload[0];\nconst rpm = msg.payload[1];\n\n// バッファ用意\nlet buffer = new ArrayBuffer(9);\n\n// speed コマンド\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// 角度 radian\nconst radian = moveToDegree * 0.017453292519943295;\nnew DataView(buffer).setFloat32(3,radian);\n// 巡回冗長検査\nnew DataView(buffer).setUint16(7,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 820,
      "y": 420,
      "wires": [
          [
              "caf1995eaa4982c7"
          ]
      ]
  },
  {
      "id": "caf1995eaa4982c7",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "92d5d84249681af0"
      ],
      "x": 915,
      "y": 420,
      "wires": []
  },
  {
      "id": "c0386ee9b9ed32b0",
      "type": "debug",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 470,
      "y": 140,
      "wires": []
  },
  {
      "id": "95a1e4f874a9e5fe",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "Keigan Motor への接続 1 台目",
      "info": "",
      "x": 1180,
      "y": 380,
      "wires": []
  },
  {
      "id": "2eadcfbddba4ff63",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "result",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "{\"result\":\"OK\"}",
              "tot": "json"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 730,
      "y": 360,
      "wires": [
          [
              "94eff1e6e0260c54"
          ]
      ]
  },
  {
      "id": "17d7255b96e645d6",
      "type": "serial out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "serial": "79b7585d97706561",
      "x": 1170,
      "y": 520,
      "wires": []
  },
  {
      "id": "bdef2e46df742c55",
      "type": "link in",
      "z": "93e0b7dcd63b93f0",
      "name": "Keigan Serial 2",
      "links": [
          "256c073c742745f3",
          "86698a200714e570",
          "f6f0b7d78fc23acc"
      ],
      "x": 1075,
      "y": 520,
      "wires": [
          [
              "17d7255b96e645d6"
          ]
      ]
  },
  {
      "id": "5acfa1c2d362d41f",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "Keigan Motor への接続 2 台目",
      "info": "",
      "x": 1180,
      "y": 480,
      "wires": []
  },
  {
      "id": "e313fb666f4d465a",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "1 台目 フロー",
      "info": "",
      "x": 150,
      "y": 40,
      "wires": []
  },
  {
      "id": "36d9b69f045a1082",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "パラメータ設定",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "[]",
              "tot": "json"
          },
          {
              "t": "set",
              "p": "payload[0]",
              "pt": "msg",
              "to": "keiganDegree",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload[1]",
              "pt": "msg",
              "to": "keiganSpeed",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 660,
      "y": 680,
      "wires": [
          [
              "755b53a47735efde"
          ]
      ]
  },
  {
      "id": "81f28764cf1e8e71",
      "type": "http in",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "url": "/keigan2/cmd/MoveTo/PositionDeg",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 200,
      "y": 500,
      "wires": [
          [
              "cd910a8f33b1da9b",
              "d11c9c41a4224cfa"
          ]
      ]
  },
  {
      "id": "12a9c089afc053e4",
      "type": "http response",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 910,
      "y": 760,
      "wires": []
  },
  {
      "id": "8e24e886631fc678",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "rules": [
          {
              "t": "set",
              "p": "keiganDegree",
              "pt": "msg",
              "to": "payload.degree",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 810,
      "y": 500,
      "wires": [
          [
              "db3568c3b76aa0a6"
          ]
      ]
  },
  {
      "id": "cd910a8f33b1da9b",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "基本回転速度 keiganSpeed (rpm)",
      "rules": [
          {
              "t": "set",
              "p": "keiganSpeed",
              "pt": "msg",
              "to": "250",
              "tot": "num"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 540,
      "y": 500,
      "wires": [
          [
              "8e24e886631fc678"
          ]
      ]
  },
  {
      "id": "eada0c55a0c974c2",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "モーター動作を許可",
      "func": "const commandNum = 0x51;\n\nlet buffer = new ArrayBuffer(5);\n\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// 巡回冗長検査\nnew DataView(buffer).setUint16(3,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 320,
      "y": 680,
      "wires": [
          [
              "256c073c742745f3"
          ]
      ]
  },
  {
      "id": "256c073c742745f3",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "bdef2e46df742c55"
      ],
      "x": 455,
      "y": 680,
      "wires": []
  },
  {
      "id": "755b53a47735efde",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "rpm で speed 指定",
      "func": "const commandNum = 0x58;\n\nconst moveToDegree = msg.payload[0];\nconst rpm = msg.payload[1];\n\n// バッファ用意\nlet buffer = new ArrayBuffer(9);\n\n// speed コマンド\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// radian / speed を rpm で指定\nconst rpm_convert_const_value = 0.10471975511965977;\nconst degree_speed = rpm * rpm_convert_const_value;\nnew DataView(buffer).setFloat32(3,degree_speed);\n\n// 巡回冗長検査\nnew DataView(buffer).setUint16(7,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 850,
      "y": 680,
      "wires": [
          [
              "86698a200714e570"
          ]
      ]
  },
  {
      "id": "db3568c3b76aa0a6",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step1",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 150,
      "y": 620,
      "wires": [
          [
              "eada0c55a0c974c2",
              "557f26979a6df572"
          ]
      ]
  },
  {
      "id": "dc67e9b99b514d17",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step2",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 530,
      "y": 620,
      "wires": [
          [
              "36d9b69f045a1082",
              "82ecc608d29167ed"
          ]
      ]
  },
  {
      "id": "86698a200714e570",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "bdef2e46df742c55"
      ],
      "x": 975,
      "y": 680,
      "wires": []
  },
  {
      "id": "557f26979a6df572",
      "type": "delay",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "pauseType": "delay",
      "timeout": "100",
      "timeoutUnits": "milliseconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "allowrate": false,
      "outputs": 1,
      "x": 350,
      "y": 620,
      "wires": [
          [
              "dc67e9b99b514d17"
          ]
      ]
  },
  {
      "id": "0764a3708f2c97b9",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "step3",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 530,
      "y": 760,
      "wires": [
          [
              "b82d9ee68c884f96",
              "8b824527f465d3c6"
          ]
      ]
  },
  {
      "id": "82ecc608d29167ed",
      "type": "delay",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "pauseType": "delay",
      "timeout": "100",
      "timeoutUnits": "milliseconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "second",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": false,
      "allowrate": false,
      "outputs": 1,
      "x": 730,
      "y": 620,
      "wires": [
          [
              "0764a3708f2c97b9"
          ]
      ]
  },
  {
      "id": "b82d9ee68c884f96",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "パラメータ設定",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "[]",
              "tot": "json"
          },
          {
              "t": "set",
              "p": "payload[0]",
              "pt": "msg",
              "to": "keiganDegree",
              "tot": "msg"
          },
          {
              "t": "set",
              "p": "payload[1]",
              "pt": "msg",
              "to": "keiganSpeed",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 660,
      "y": 820,
      "wires": [
          [
              "9a110d39a977dd89"
          ]
      ]
  },
  {
      "id": "9a110d39a977dd89",
      "type": "function",
      "z": "93e0b7dcd63b93f0",
      "name": "角度指定",
      "func": "const commandNum = 0x66;\n\nconst moveToDegree = msg.payload[0];\nconst rpm = msg.payload[1];\n\n// バッファ用意\nlet buffer = new ArrayBuffer(9);\n\n// speed コマンド\nnew DataView(buffer).setUint8(0,commandNum);\n\n// タスク管理用ID\nconst cid = 0;\nnew DataView(buffer).setUint16(1,cid);\n\n// 角度 radian\nconst radian = moveToDegree * 0.017453292519943295;\nnew DataView(buffer).setFloat32(3,radian);\n// 巡回冗長検査\nnew DataView(buffer).setUint16(7,0);\n\nmsg.payload = Buffer.from(buffer);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 820,
      "y": 820,
      "wires": [
          [
              "f6f0b7d78fc23acc"
          ]
      ]
  },
  {
      "id": "f6f0b7d78fc23acc",
      "type": "link out",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "mode": "link",
      "links": [
          "bdef2e46df742c55"
      ],
      "x": 915,
      "y": 820,
      "wires": []
  },
  {
      "id": "d11c9c41a4224cfa",
      "type": "debug",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 470,
      "y": 540,
      "wires": []
  },
  {
      "id": "8b824527f465d3c6",
      "type": "change",
      "z": "93e0b7dcd63b93f0",
      "name": "result",
      "rules": [
          {
              "t": "set",
              "p": "payload",
              "pt": "msg",
              "to": "{\"result\":\"OK\"}",
              "tot": "json"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 730,
      "y": 760,
      "wires": [
          [
              "12a9c089afc053e4"
          ]
      ]
  },
  {
      "id": "b82bfd05a70790be",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "2 台目 フロー",
      "info": "",
      "x": 150,
      "y": 440,
      "wires": []
  },
  {
      "id": "c1846ff268d323c9",
      "type": "inject",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"degree\":180}",
      "payloadType": "json",
      "x": 1150,
      "y": 240,
      "wires": [
          [
              "f0589b1f35b92f2f"
          ]
      ]
  },
  {
      "id": "f0589b1f35b92f2f",
      "type": "http request",
      "z": "93e0b7dcd63b93f0",
      "name": "keigan1 URL",
      "method": "POST",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "http://127.0.0.1:1880/keigan2/cmd/MoveTo/PositionDeg",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "senderr": false,
      "x": 1370,
      "y": 260,
      "wires": [
          [
              "4f7978a02cd55903"
          ]
      ]
  },
  {
      "id": "4f7978a02cd55903",
      "type": "debug",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 1600,
      "y": 260,
      "wires": []
  },
  {
      "id": "7ad8242ff09fc260",
      "type": "inject",
      "z": "93e0b7dcd63b93f0",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{     \"degree\":90 }",
      "payloadType": "json",
      "x": 1150,
      "y": 300,
      "wires": [
          [
              "f0589b1f35b92f2f"
          ]
      ]
  },
  {
      "id": "7bee1b6f4b9938ee",
      "type": "comment",
      "z": "93e0b7dcd63b93f0",
      "name": "テスト用 2 台目",
      "info": "",
      "x": 1140,
      "y": 200,
      "wires": []
  },
  {
      "id": "79b7585d97706561",
      "type": "serial-port",
      "serialport": "COM4",
      "serialbaud": "115200",
      "databits": "8",
      "parity": "none",
      "stopbits": "1",
      "waitfor": "",
      "dtr": "none",
      "rts": "none",
      "cts": "none",
      "dsr": "none",
      "newline": "\\n",
      "bin": "false",
      "out": "char",
      "addchar": "",
      "responsetimeout": "10000"
  }
]